
.angular-google-map-container { height: 400px; }

.browse-view .angular-google-map-container { 
	height: 400px;
/*	width: 400px;*/
}

.my-marker {
	font-weight: bold;

}

.marker-tooltip {
	max-width: 200px;
}
