<div class="profile-view">
	<h1>profile</h1>
	{{ctrl.location}}
	<ui-gmap-google-map center='ctrl.map.center' zoom='ctrl.map.zoom'>
		<ui-gmap-marker ng-model="ctrl.location" idKey='ctrl.location.id' coords="ctrl.location.coords" options="{labelContent:ctrl.location.name,draggable:true}" >			
		</ui-gmap-marker>
	</ui-gmap-google-map>
	<form>
		<div class="form-group">
			<label>Ονομασία</label>
			<input ng-model="ctrl.location.name" type="text" class="form-control">
		</div>
		<div class="form-group">
			<label>Διεύθυνση</label>
			<div class="row">
				<div class="col-md-11">
					<input ng-model="ctrl.location.address" type="text" class="form-control">
				</div>
				<div class="col-md-1">
					<button type="button" class="btn btn-primary pull-right">Search</button>				
				</div>
			</div>
		</div>	
		<div class="form-group">
			<label>Γεωγ. μήκος</label>
			<input ng-model="ctrl.location.coords.longitude" type="number" class="form-control">
		</div>	
		<div class="form-group">
			<label>Γεωγ. πλάτος</label>
			<input ng-model="ctrl.location.coords.latitude" type="number" class="form-control">
		</div>			
	</form>
</div>
